html{
    scroll-behavior: smooth;
  }
  .forms{
    width:60%;
    margin: auto;
    margin-bottom: 100px;
    color: white;
  }
  .form-control::placeholder {
      
    color: white;
    opacity: 1;
    font-weight: bold;
  }

